@import url(common.css);
@import url(vote.css);
@import url(header.css);
@import url(footer.css);

.warp{
  width:100%;
  display: flex;
  background:rgb(255, 255, 255);
  position: relative;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}


/* 메인 */
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  /* border: 1px solid #000; */
}

main{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

video{
  width: 100%;
}

.collabo{
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  /* border: 1px solid #000; */
}

.product{
  display: flex;
  justify-content: center;
  width: 90%;
  /* border: 1px solid #000; */
  margin:auto;
  position: relative;
  overflow: hidden;
}

.product img:first-child{
  width: 100%;
  transition: 0.3s;
}

.product img:last-child{
  height: 20px;
  position: absolute;
  top: 5%;
  right: 5%;
}

.product:hover img:first-child{
  transform: scale(1.1);
}

.collaboname{
  margin-top: 10px;
  font-size: 14px;
  transition: 0.3s;
}

.collaboname:hover{
  cursor: pointer;
  text-decoration: underline;
}

.collaboprice{
  color: #777;
  margin-top: 5px;
  font-size: 13px;
}

.buy{
  width: 170px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: none;
  font-weight: bold;
  margin-top: 5px;
  display: none; /* 구매하기버튼 안보이게 */
}

.buy:hover{
  background-color: #333;
}

.page_number{
  margin-bottom: 30px;
}

.page_number button{
  border: none;
  margin-right: 15px;
  background-color: transparent;
  cursor: pointer;
  color: #777;
}

.page_number button:first-child{
  cursor: default;
}

.page_number button:hover{
  color: #000;
  text-decoration: underline;
}

.page_number button:first-child{
  color: #777;
}
.page_number button:first-child:hover{
  text-decoration: none;
}

.page_number button:nth-child(2){
  border-bottom: 1px solid #000;
  color: #000;
}

